.vertical-align {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.subtitle {
  color: #B84B5C;
  font-size: 20px;
}
.author {
  color: #000000;
}
.big {
  font-size: 20px;
}
.pull-right {
  float: right;
}
.negative-margin {
  margin: 20px -15px;
}
body {
  background: url('../img/2 collors.png');
  background-size: 1920px 1080px;
}
.wrapper {
  width: 30%;
  min-height: 80%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
}
.content {
  width: 80%;
  height: 90%;
  margin: 0 auto;
  text-align: center;
  line-height: 10px;
  padding: 40px;
}
.content h2 {
  text-transform: uppercase;
  color: #555555;
  margin: 20%;
}
.content h1,
.content h2 {
  padding: 20px 0;
  font-family: 'Josefin Sans', sans-serif;
}
.content p {
  color: #555555;
}
.content span {
  color: #777777;
}
button {
  background-color: #bebba2;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 35px;
  margin: 5px;
  border: none;
}
.bottom {
  position: absolute;
  bottom: 20px;
  left: 28%;
}
a {
  color: #777777;
}
.over-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30%;
}
